<div th:fragment="bloco" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="card-body">
            <div class="alert alert-primary" role="alert">
                No dia escolhido leve seu carro até o nosso lava rápido ou informe onde buscá-lo.
            </div>
            <div class="row g-2">
                <div class="d-flex flex-wrap justify-content-center gap-2" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary btn-sm" for="btnradio1">Segunda<br>28/07</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary btn-sm" for="btnradio2">Segunda<br>28/07</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary btn-sm" for="btnradio3">Segunda<br>28/07</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary btn-sm" for="btnradio4">Segunda<br>28/07</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-primary btn-sm" for="btnradio5">Segunda<br>28/07</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn btn-outline-primary btn-sm" for="btnradio6">Segunda<br>28/07</label>
                </div>
                <div class="alert alert-primary" role="alert">
                    Valor Total R$ 50,00
                </div>
            </div>
        </div>
    </div>
</div>