<div th:fragment="bloco" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="etapa3" class="container d-none">
        <div class="card-body">
            <div class="alert alert-primary mb-2 text-dark" role="alert">
                No dia escolhido leve seu carro até o nosso lava rápido ou informe onde buscá-lo.
            </div>
            <div class="row g-2 mb-2">
                <div class="d-flex flex-wrap justify-content-center gap-2" role="group" aria-label="Basic radio toggle button group">
                    <th:block th:each="dataObj, iterStat : ${datas}">
                        <input type="radio" class="btn-check"
                               name="dia"
                               th:id="'btnradio' + ${iterStat.index}"
                               th:value="${dataObj.dia}"
                               th:checked="${iterStat.index == 0}">

                        <label class="btn btn-outline-primary btn-sm"
                               th:for="'btnradio' + ${iterStat.index}"
                               th:text="${dataObj.diaFormatado()}">
                        </label>
                    </th:block>
                </div>
            </div>
                <div class="alert alert-primary text-center mb-2 text-dark" role="alert">
                    Selecione seu horário
                </div>
                <div class="row g-2 mb-2">
                    <div class="d-flex flex-wrap justify-content-center gap-2" role="group" aria-label="Basic radio toggle button group">

                        <th:block th:each="dia, iterStat : ${datas}">
                            <div th:id="'horas-' + ${iterStat.index}"
                                 th:classappend="${iterStat.index != 0} ? 'd-none' : ''"
                                 class="horas-container d-flex flex-wrap gap-2 justify-content-center">

                                <th:block th:each="hora, hIndex : ${dia.horas}">
                                    <input type="radio" class="btn-check"
                                           name="hora"
                                           th:id="'hora-' + ${iterStat.index} + '-' + ${hIndex}"
                                           th:value="${hora}" th:disabled="${marcado}">

                                    <label class="btn btn-outline-primary btn-sm"
                                           th:for="'hora-' + ${iterStat.index} + '-' + ${hIndex}"
                                           th:text="${hora}">
                                    </label>
                                </th:block>

                            </div>
                        </th:block>

                    </div>
            </div>
                <div class="d-flex flex-wrap justify-content-center gap-2 mb-2" role="group" aria-label="Exemplo básico">
                    <button type="button" onclick="mostrarEtapa(4)" class="btn w-100 w-sm-auto padrao" >Próximo</button>
                </div>
        </div>
    </div>
</div>