<div th:fragment="bloco" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="etapa5" class="container d-none">
        <div class="card-body">
            <div class="alert alert-primary" role="alert">
                <div class="d-flex align-items-center mb-3">
                    <img th:src="@{/img/id-card.png}" alt="Ícone de identidade" class="info-icon me-2" style="width: 40px; height: 40px;">
                    <div class="text-dark"><p class="fw-bold" id="infoNome">João da Silva</p></div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <img th:src="@{/img/whatsapp.png}" alt="Ícone WhatsApp" class="info-icon me-2" style="width: 40px; height: 40px;">
                    <div class="text-dark"><p class="fw-bold" id="infoWhats">40 99900-0000</p></div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <img th:src="@{/img/calendar.png}" alt="Ícone calendário" class="info-icon me-2" style="width: 40px; height: 40px;">
                    <div class="text-dark"><p class="fw-bold" id="infoData">25/07 às 14:30</p></div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <img th:src="@{/img/dollar.png}" alt="Ícone valor" class="info-icon me-2" style="width: 40px; height: 40px;">
                    <div class="text-dark"><p class="fw-bold" id="infoValor">R$ 70,00</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
