<div th:fragment="bloco" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="confirmado" class="container py-4 d-none">
            <div class="card-body">
                <div class="alert alert-primary text-center" role="alert">
                    <div class="text-dark mb-3 fs-5 fw-semibold">
                        Horário agendado com sucesso
                    </div>
                    <div class="mb-3">
                        <img th:src="@{/img/checked.png}" alt="Ícone confirmado" class="info-icon" style="width: 60px; height: 60px;">
                    </div>
                    <div class="text-dark mb-0">
                        <strong>O veículo deve ser entregue no local 10min antes do horário agendado</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
