<div th:fragment="bloco" class="container my-4" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="row g-3">
            <th:block th:each="agendamento, iterStat : ${dados}">
                <div th:id="${agendamento.id}" class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100">
                        <h5 class="card-header text-bg-dark" th:text="${agendamento.cliente.nome}">Nome</h5>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title" th:text="${agendamento.categoria.nome}">Hatch</h5>

                            <th:block th:each="servicos, hIndex : ${agendamento.servicosSelecionados}">
                                <p class="card-text" th:id="${servicos.id}" th:text="${servicos.nome}">Lavagem simples</p>
                            </th:block>
                            <div class="d-flex justify-content-between mb-3">
                                <div class="card-text mb-0 fw-bold text-success">
                                    <span  th:text="'R$ ' + ${#numbers.formatDecimal(agendamento.valorTotal, 2, 'COMMA', 2, 'POINT')}">50,00</span>
                                </div>
                                <div class="card-text mb-0 text-muted">
                                    <span>Horário:</span>
                                    <span th:text="${#temporals.format(agendamento.dataAgendamento, 'HH:mm')}"> 16:40</span>
                                </div>
                            </div>
                            <div class="mt-auto d-flex justify-content-center gap-2">
                                <button type="button" class="btn btn-success"
                                        th:onclick="'buscaDados(' + ${iterStat.index} + ', ' + ${agendamento.id} + ')'"
                                        data-bs-toggle="modal"
                                        th:data-bs-target="'#modalPagamento-' + ${iterStat.index}">
                                    Pagamentos
                                </button>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </div>
                        </div>
                    </div>
                    <div th:replace="fragments/modais/modalPagamento :: modal(agendamento=${agendamento}, index=${iterStat.index})"></div>
                </div>
            </th:block>

        </div>
    </div>
