<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav id="sidebar" class=" mysidebar padrao d-flex flex-column flex-shrink-0 p-3">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <img src="/img/logo.png" alt="LavaCar" class="fs-4" style="height: 40px;">
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a id="Agendamentos" th:href="@{/agendamentos?filtro=Hoje}" class="nav-link text-white">
                    Agendamentos
                </a>
            </li>
            <li>
                <a id="Dashboard" th:href="@{/dashboard}" class="nav-link  text-white">
                    Dashboard
                </a>
            </li>
            <li>
                <a id="Configurações" th:href="@{/configuracoes}" class="nav-link  text-white">
                    Configurações
                </a>
            </li>
            <li>
                    <a id="AgendamentoManual" th:href="@{/agendamentomanual}" class="nav-link  text-white">
                    Agendamento Manual
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </nav>

</div>
